<section data-ng-controller="TranslationController" data-ng-init="findAll()">
	<div class="container text-center">
		<br>
		<div class="row">
			<div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
				<img class="img-responsive text-center" src="img/brand/logo.png" />
			</div>
		</div>
		<br>
		<div class="row">
			<p class="lead">
				Gather, package, translate, done!
			</p>
		</div>
		<br>
		<div class="row">
			<table class="table table-bordered">
				<th>Created Date</th>
				<th>Translation</th>
				<th>Status</th>
				<tr ng-repeat="trns in translations | orderBy:'-createdAt'" ng-class="{danger:(trns.status=='error')}">
					<td>{{trns.createdAt | date:'MMM d y H:mm'}}</td>
					<td><a href="/#!/translations/{{trns.id}}">{{trns.id}}</a></td>
					<td>{{trns.status}}</td>
				</tr>
			</table>
		</div>
		<br>
		<div class="row">
			<div class="alert alert-danger" data-ng-show="error">
				<strong>Error!</strong>
				{{error}}
			</div>
		</div>
	</div>
</section>
