<section>
	<div class="jumbotron text-center">
		<div class="row">
			<div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
				<img class="img-responsive text-center" src="img/brand/logo.png" />
			</div>
		</div>
		<br>
		<div class="row">
			<p class="lead">
				Gather, package, translate, done!
			</p>
		</div>
		<section data-ng-controller="TranslationController" data-ng-init="findAll()">
			<div ng-repeat="trns in translations">
				<a href="/#!/translations/{{trns.id}}">{{trns.id}}</a>: {{trns.status}}
			</div>
			<div>
				<div class="alert alert-danger" data-ng-show="error">
					<strong>Error!</strong>
					{{error}}
				</div>
			</div>
		</section>
	</div>
</section>
