<section data-ng-controller="TranslationController" data-ng-init="findOne()">
	<div class="container">
		<h1>{{translationPageTitle}}</h1>
		<h4>{{token.id}}</h4>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<div class="alert alert-danger" data-ng-show="error">
					<strong>Error!</strong> {{error}}
				</div>
			</div>
		</div>
		<div class="row" data-ng-show="translationPageAdvice">
			<div class="well parag">
				{{translationPageAdvice}}
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-sm-12">
				<div data-ng-show="token.status=='sent'">
					<a class="btn btn-primary" ng-href="{{getDownload()}}">Download Language Term Package</a>
					<button type="file"
							class="btn btn-primary"
							ngf-select="beginImport($file)" >Import Translated Language Term Package</button>
				</div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-sm-12">
				<table class="table table-bordered">
					<th>Repository</th>
					<th>Status</th>
					<tr ng-repeat="repo in token.repositories"
						ng-class="{danger:(repo.status!=='packaged' && repo.status!=='imported' && repo.status!=='exported' && repo.status!=='exporting')}">
						<td><a href="/#!/repositories/{{repo.id}}/edit">{{repo.name}}</a></td>
						<td>{{repo.status}}</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</section>
